/*Stack cards -----------------------------------------*/
.stack-cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 0.3rem 1rem;
    width: 20%;
    min-width: 10rem;
    min-height: 12rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2%;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}
.card i {
    font-size: 7rem;
    transition: color, transform 1s;
}
.card h1{
    font-size: 1rem;
}
.card:hover i{
    color: green;
    transform: scale(1.1);
}
.section-bg p {
    font-size:10rem;
}
/*Media screen------------------------------------------------*/
@media only screen and (max-width: 700px) {
    .card i {
        font-size: 7rem;
    }
    .card h1{
        font-size: 1rem;
    }
    .section-bg p{
        font-size: 6rem;
        padding-top: 2.5rem;
    }
}
